<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">.NETSHOP MANAGEMENT</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/administrator/dashboard">Dashboard</a></li>
                <li><a href="/administrator/pages/index">Market Pages CRUD</a></li>
                <li><a href="/administrator/shop/categories">Categories CRUD</a></li>
                <li><a href="/administrator/shop/addproduct">+ Products</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
